/Week4/WebApplication1/nbproject/private/
/Week4/WebApplication1/build/
/Week4/WebApplication1/dist/
/Week4/Excercise/nbproject/private/
/Week4/Excercise/build/
/Week4/Excercise/dist/
/Week4/Week05JSP/nbproject/private/
/Week4/Week05JSP/build/
/Week4/Week05JSP/dist/
/Week05JSP/build/
/Week05JSP/dist/
/Week05JSP/nbproject/private/
/Week6/WebApplication1/nbproject/private/
/Week6/WebApplication1/build/
/Week6/WebApplication1/dist/
/Week7/EnterpriseApplication1/nbproject/private/
/Week7/EnterpriseApplication1/EnterpriseApplication1-war/nbproject/private/
/Week7/EnterpriseApplication1/EnterpriseApplication1-ejb/nbproject/private/
/Week7/EnterpriseApplication1/EnterpriseApplication1-ejb/build/
/Week7/EnterpriseApplication1/EnterpriseApplication1-ejb/dist/
/Week7/EnterpriseApplication1/EnterpriseApplication1-war/build/
/Week7/EnterpriseApplication1/build/
/Week7/EnterpriseApplication1/EnterpriseApplication1-war/dist/
/Week7/EnterpriseApplication1/dist/