/Week4/WebApplication1/nbproject/private/
/Week4/WebApplication1/build/
/Week4/WebApplication1/dist/
/Week4/Excercise/nbproject/private/
/Week4/Excercise/build/
/Week4/Excercise/dist/
/Week4/Week05JSP/nbproject/private/
/Week4/Week05JSP/build/
/Week4/Week05JSP/dist/
/Week05JSP/build/
/Week05JSP/dist/
/Week05JSP/nbproject/private/